footer {
    background-color: #111827;
    color: #F9FAFB;
    padding: 20px;
    
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Voltar para center para alinhar verticalmente os itens do footer */
    width: 100%;
    margin-top: 40px;
    border-top: 4px solid #10B981;
}

.redeSocial p {
    margin-right: 15px;
}

.redeSocial img {
    height: 30px;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.redeSocial a:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.logoFinal img {
    height: 50px; /* Definir uma altura razoável para a imagem do logo no footer */
    width: auto; /* Manter a proporção */
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .menu-principal ul {
        flex-direction: column;
        gap: 15px;
    }

    main {
        flex-direction: column !important; /* Adicionado !important para diagnóstico */
        padding: 10px;
    }
    
    
    footer {
        position: static;
        flex-direction: column;
        gap: 20px;
    }

    .redeSocial {
        flex-wrap: wrap;
        justify-content: center;
    }
}